@font-face {
    font-family: "BentonSansBold";
    src: url("fonts/BentonSansBold.woff") format("woff"), url("fonts/BentonSansBold.otf") format("otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "BentonSansMedium";
    src: url("fonts/BentonSansMedium.woff") format("woff"), url("fonts/BentonSansMedium.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BentonSansRegular";
    src: url("fonts/BentonSansRegular.woff") format("woff"), url("fonts/BentonSansRegular.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}