@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "BentonSansBold";
  src: url("fonts/BentonSansBold.woff") format("woff"), url("fonts/BentonSansBold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "BentonSansMedium";
  src: url("fonts/BentonSansMedium.woff") format("woff"), url("fonts/BentonSansMedium.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BentonSansRegular";
  src: url("fonts/BentonSansRegular.woff") format("woff"), url("fonts/BentonSansRegular.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "BentonSansMedium";
  font-size: 16px;
  background-color: #ffffff;
}

body .wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

body .wrapper .hero .header {
  padding: 30px 50px;
}

body .wrapper .hero .header img {
  max-width: 245px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  body .wrapper .hero .header img {
    margin: 0 auto;
    max-width: 200px;
  }
}

body .wrapper .hero .banner {
  border-top: 3px solid #268ac9;
  position: relative;
  background: #ffffff url("../images/altour-hero.jpg") no-repeat center bottom;
  padding: 15px 20px 42px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 414px) {
  body .wrapper .hero .banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body .wrapper .hero .banner h1 {
  text-align: right;
  font-size: 46px;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-bottom: 219px;
}

@media screen and (max-width: 767px) {
  body .wrapper .hero .banner h1 {
    margin-bottom: 25%;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 414px) {
  body .wrapper .hero .banner h1 {
    font-size: 38px;
    line-height: 42px;
    text-align: center;
  }
}

body .wrapper .hero .banner img {
  max-width: 215px;
}

body .wrapper .content {
  width: 100%;
  padding: 107px 70px 121px;
}

@media screen and (max-width: 767px) {
  body .wrapper .content {
    padding: 50px 20px;
  }
}

body .wrapper .content h2 {
  color: #00175a;
  text-align: center;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 67px;
}

@media screen and (max-width: 414px) {
  body .wrapper .content h2 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 50px;
  }
}

body .wrapper .content ul {
  list-style-type: none;
}

body .wrapper .content .main-list {
  border-top: 5px solid #c6c8ca;
  padding-top: 56px;
}

body .wrapper .content .main-list li {
  font-family: "BentonSansBold";
  font-size: 29px;
  line-height: 33px;
  padding-left: 70px;
  margin-bottom: 24px;
  padding: 10px 0 10px 70px;
}

body .wrapper .content .main-list li:last-child {
  margin-bottom: 0;
}

body .wrapper .content .main-list li.item-1 {
  background: url("../images/altour-icon-1.jpg") no-repeat left center;
}

body .wrapper .content .main-list li.item-2 {
  background: url("../images/altour-icon-2.jpg") no-repeat left center;
}

body .wrapper .content .main-list li.item-3 {
  background: url("../images/altour-icon-3.jpg") no-repeat left top;
}

body .wrapper .content .main-list li span {
  font-family: "BentonSansRegular";
}

@media screen and (max-width: 767px) {
  body .wrapper .content .main-list li {
    padding: 70px 0 10px 0px;
    text-align: center;
  }
  body .wrapper .content .main-list li span {
    display: block;
    font-size: 22px;
    line-height: 24px;
  }
  body .wrapper .content .main-list li.item-1, body .wrapper .content .main-list li.item-2, body .wrapper .content .main-list li.item-3 {
    background-position: center top;
  }
}

@media screen and (max-width: 414px) {
  body .wrapper .content .main-list li {
    font-size: 20px;
    line-height: 22px;
  }
}

body .wrapper .content .main-list li .inner-list {
  margin-bottom: 55px;
}

@media screen and (max-width: 414px) {
  body .wrapper .content .main-list li .inner-list {
    margin-bottom: 40px;
  }
}

body .wrapper .content .main-list li .inner-list li {
  font-family: "BentonSansRegular";
  margin: 0 0 2px 37px;
  position: relative;
  padding: 0 0 0 21px;
}

body .wrapper .content .main-list li .inner-list li::before {
  content: '•';
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0px;
  line-height: 35px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  body .wrapper .content .main-list li .inner-list li::before {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body .wrapper .content .main-list li .inner-list li {
    margin: 0 0 10px 0px;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  body .wrapper .content .main-list li .inner-list li:last-child {
    margin: 0;
  }
}

body .wrapper .content p {
  font-size: 28px;
  line-height: 34px;
  font-family: "BentonSansMedium";
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 414px) {
  body .wrapper .content p {
    font-size: 20px;
    line-height: 22px;
  }
}

body .wrapper .footer {
  color: #ffffff;
  background-color: #00175a;
  padding: 91px 46px;
}

@media screen and (max-width: 767px) {
  body .wrapper .footer {
    padding: 50px 20px;
  }
}

body .wrapper .footer h2 {
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  font-family: "BentonSansBold";
  letter-spacing: 2px;
  max-width: 680px;
  margin: 0 auto 106px auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  body .wrapper .footer h2 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 50px;
  }
}

body .wrapper .footer p {
  font-family: "BentonSansRegular";
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 18px;
}

@media screen and (max-width: 414px) {
  body .wrapper .footer p {
    font-size: 16px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */